*{
    margin: 0;
    padding: 0;
    color: rgb(92, 170, 172);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-direction: column; */
    background-color: cadetblue;
}
.container{
    padding: 100px;
    background-color: bisque;
    text-align: center;
    border-radius: 15px 100px;
}

.Heading-App{
    font-size: 100px;
    color: bisque;
    font-family:'Courier New', Courier, monospace;
}
input[type="search"]{
    outline: none;
    padding: 15px;
    border: none;
    font-size: large;
    border-radius: 30px;
}
